.ds-modal__vibration {
  animation-name: ds-modal-anim-vibration;
  animation-iteration-count: 1;
	animation-duration: 300ms;	
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  perspective: 500px;
  backface-visibility: hidden;
}

@keyframes ds-modal-anim-vibration {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}