include ../../elements/button/button
include ../../components/container/container
include ../../components/ds-modal/ds-modal

section.main-content

  +container 
    +button("ds-modal example 1", "ds-modal-open", "example-1")
    +button("ds-modal example 2", "ds-modal-open", "example-2")
    +button("ds-modal example 3", "ds-modal-open", "example-3")
    +dsModal("Example 1", "example-1", "Lorem ipsum dolor sit amet consectetur adipisicing elit.")
    +dsModal("Example 2", "example-2", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo laboriosam temporibus voluptate odit hic perspiciatis maiores sequi harum distinctio!")
    +dsModal("Example 3", "example-3", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo laboriosam temporibus voluptate odit hic perspiciatis maiores sequi harum distinctio! Vitae sequi fugit eos accusantium, nulla nostrum quasi dolorem, aperiam officiis rerum enim! Facilis sit amet illo, quibusdam sapiente et animi officiis ex. Culpa ipsa asperiores nisi quia sed mollitia voluptate rerum ab officia, dicta, numquam aperiam iusto inventore architecto, nobis tenetur?")
 

