.ds-modal__demo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: $color-white;

  > .ds-modal__button {
    margin: 0.25rem;
  }
}
