// colors
$color-white: #ffffff;
$color-grey-light: #f3f1f1;
$color-grey: #cecece;
$color-blue: #3158b3;
$color-black-light: #282828;
$color-black: #000000;

// main fonts
$font-main-regular: Arial, serif;
$font-main-medium: Arial, serif;


.ds-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw + 1.875rem);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1300;
  overflow-y: auto;
  transition: background-color 200ms;
  will-change: background-color;

  &.block {
    display: block;
  }

  &.shadow {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &.transform {
    .ds-modal {
      transform: scale(1);
      transform: translate3d(0, 0, 0);
    }
  }

  &.opacity {
    .ds-modal {
      opacity: 1;
    }
  }
}

.ds-modal-wrapper {
  width: 100vw;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ds-modal {
  position: relative;
  margin: 1rem;
  width: 100%;
  max-width: 35rem;
  padding: 1rem;
  padding-top: 2.75rem;
  opacity: 0;
  transform: scale(0.5);
  transform: translate3d(0, 2rem, 0);
  transform-origin: center;
  background-color: $color-white;
  transition: transform 200ms, opacity 180ms;
}

.ds-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('data:image/svg+xml;utf8,<svg id="Outlined" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g id="Fill"><polygon points="28.71 4.71 27.29 3.29 16 14.59 4.71 3.29 3.29 4.71 14.59 16 3.29 27.29 4.71 28.71 16 17.41 27.29 28.71 28.71 27.29 17.41 16 28.71 4.71"/></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.ds-modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5625rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5625rem;
  background-color: $color-white;
  border-radius: 0;
  border: 1px solid $color-black-light;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  line-height: 1;
  font-family: $font-main-regular;
  color: $color-black-light;
  text-align: center;
  cursor: pointer;
}

.ds-modal-header {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: $font-main-medium;
  color: $color-black-light;
  text-align: center;
}

.ds-modal-body {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.125rem;
  font-family: $font-main-regular;
  color: $color-black-light;
  text-align: center;
}

.ds-modal-footer {
  margin-top: 0.5rem;
  display: flex; 
  align-items: center;
  justify-content: center;
}

@import "./_animations/vibration.scss";